<ul>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
    <li>
        <%= link_to "Cadastro de Tipos de Mineração", mining_types_path %>
    </li>
    <p> O forte do Ruby não é o front-end, mas sim o back-end </p>
</ul>