<h1>Seja Vem-Vindo!!</h1>
<p>
    Vinicius Soares
</p>

<p>A soma é : <%=1+8 %> </p>
<p>Seu nome ao contrario é: <%= "Vinicius".reverse %>  </p>
<% a= "minha var a"%>
<p>Imprimindo a variavel <%= a %> </p>
<p>A data de hoje <%= Date.today%> </p>